@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.ImageEditor
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Inputs
@page "/Lighting"

<style>

    img {
  display: block;
  margin: auto;
  width: 50%;
}

.btn-group button {
  background-color: #390546; /* Green background */
        border: 1px solid #261152; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #390546;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #390546;
            cursor: pointer;
        }
    


</style>

<h3>Lighting 💡</h3>

<img src="/Images/Lightbulb.png" style="@ImageStyle">

<div class="btn-group" style="width:100%">
    <button style="width:50%" @onclick="LightON" @bind="brightness">ON</button>
    <button style="width:50%" @onclick="LightOFF">OFF</button>
</div>


<br>


<h3>Brightness</h3>
<div class="slidecontainer">
    <!-- use two-way binding so C# receives live updates -->
    <input type="range" min="1" max="100" class="slider" id="myRange"
           @bind="brightness" @bind:event="oninput" />
    <p>Value: <span id="demo">@brightness</span></p>
</div>


@code {
    private int brightness = 100;

    private string ImageStyle =>
    $"display:block;margin:auto;width:320px;height:412px;-webkit-filter:brightness({brightness}%);filter:brightness({brightness}%);transition:filter .12s linear;";

    public string LightStatusON => $"display:block;margin:auto;width:320px;height:412px;brightness:100%;filter:brightness(100%);transition:filter .12s linear;";

    private void OnSliderInput(ChangeEventArgs e)
    {
        if (e?.Value != null && int.TryParse(e.Value.ToString(), out var v))
        {
            brightness = v;
        }
    }


    private int GetValue()
    {
        return brightness;
    }


    private Task LightON()
    {
        
        return Task.CompletedTask;
    }

    private Task LightOFF()
    {
        brightness = 0;
        return Task.CompletedTask;
    }

}
